USE [master]
GO
/****** Object:  Database [AndroidAttendanceDB]    Script Date: 9/3/2019 9:16:51 PM ******/
CREATE DATABASE [AndroidAttendanceDB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AndroidAttendanceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AndroidAttendanceDB]
GO
USE [AndroidAttendanceDB]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 9/3/2019 9:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[fksubjectId] [int] NOT NULL,
	[fkstudentErpNo] [int] NOT NULL,
	[fkcourseId] [int] NOT NULL,
	[fkteacherId] [int] NOT NULL,
	[takenDate] [date] NOT NULL,
	[takenTime] [time](7) NOT NULL,
	[presentabsent] [varchar](2) NOT NULL
)
GO
/****** Object:  Table [dbo].[Course]    Script Date: 9/3/2019 9:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[courseId] [int] NOT NULL,
	[courseName] [varchar](20) NULL,
	[startDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[courseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[CourseYears]    Script Date: 9/3/2019 9:16:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseYears](
	[fkcourseIdCourseYears] [int] NOT NULL,
	[courseYears] [varchar](50) NOT NULL
)
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 9/3/2019 9:16:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[semId] [int] NOT NULL,
	[semName] [nvarchar](5) NOT NULL,
	[semYear] [varchar](2) NOT NULL,
	[semStartDate] [date] NULL,
	[semEndDate] [date] NULL
)
GO
/****** Object:  Table [dbo].[Student]    Script Date: 9/3/2019 9:16:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentErpNo] [int] NOT NULL,
	[studentRollNo] [int] NULL,
	[studentName] [varchar](20) NULL,
	[studentPassword] [varchar](20) NULL,
	[studentEmailId] [varchar](20) NULL,
	[studentImage] [varchar](20) NULL,
	[studentGender] [varchar](20) NULL,
	[fkcourseIdStudent] [int] NOT NULL,
	[studentrContactNo] [varchar](12) NULL,
	[fksemIdStudent] [int] NOT NULL,
 CONSTRAINT [PK__Student__B79BAE4AF89EF020] PRIMARY KEY CLUSTERED 
(
	[studentErpNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 9/3/2019 9:16:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subjectId] [int] NOT NULL,
	[subjectName] [varchar](20) NULL,
	[fkcourseIdSubject] [int] NOT NULL,
	[fkteacherIdSubject] [int] NOT NULL,
	[fksemIdSubject] [int] NOT NULL,
 CONSTRAINT [PK__Subject__ACF9A760C6C4B90F] PRIMARY KEY CLUSTERED 
(
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 9/3/2019 9:16:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[teacherId] [int] NOT NULL,
	[teacherName] [varchar](20) NULL,
	[teacherPassword] [varchar](20) NULL,
	[teacherAge] [int] NULL,
	[teacherEmailId] [varchar](20) NULL,
	[teacherGender] [varchar](20) NULL,
	[teacherAddress] [varchar](20) NULL,
	[teacheradharno] [int] NULL,
	[teacherImage] [varchar](20) NULL,
	[fkcourseIdTeacher] [int] NOT NULL,
	[teacherContactNo] [varchar](12) NULL,
	[teacherDateOfBirth] [varchar](12) NULL,
	[teacherJoiningDate] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[teacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__fkcours__619B8048] FOREIGN KEY([fkcourseIdStudent])
REFERENCES [dbo].[Course] ([courseId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__fkcours__619B8048]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK__Student__fkcours__6477ECF3] FOREIGN KEY([fkcourseIdStudent])
REFERENCES [dbo].[Course] ([courseId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK__Student__fkcours__6477ECF3]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Subject__fkcours__66603565] FOREIGN KEY([fkcourseIdSubject])
REFERENCES [dbo].[Course] ([courseId])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Subject__fkcours__66603565]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Subject__fkteach__6754599E] FOREIGN KEY([fkteacherIdSubject])
REFERENCES [dbo].[Teacher] ([teacherId])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Subject__fkteach__6754599E]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([fkcourseIdTeacher])
REFERENCES [dbo].[Course] ([courseId])
GO
USE [master]
GO
