<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bino.attendance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".TeacherHomeActivity" />
        <activity android:name=".TakeAttendanceActivity" />
        <activity android:name=".EditAttendanceActivity" />
        <activity android:name=".ShowTakenAttendanceActivity" />
        <activity android:name=".TeacherSearchByActivity" />
        <activity android:name=".TeacherSearchResult" />
        <activity android:name=".TeacherSearchResultIndividual" />
        <activity android:name=".StudentViewIndividualAttendance" />
        <activity android:name=".StudentViewAllAttendance" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".AdminStudentSearchBy" />
        <activity android:name=".AdminStudentSeachResultActivity" />
        <activity android:name=".AdminStudentViewAllAttendance" />
        <activity android:name=".AdminStudentViewIndividualAttendance" />
        <activity android:name=".AdminShowTeacherNameActivity" />
        <activity android:name=".AdminShowTeacherDetailsActivity" />
        <activity android:name=".AdminTeacherEditDetailsActivity" />
        <activity android:name=".AdminAddNewTeacherActivity" />
        <activity android:name=".AdminNewTeacherAddActivity" />
        <activity android:name=".AdminCourseParticularSemSubjects" />
        <activity android:name=".AdminStudentEditAddDetails" />
        <activity android:name=".AdminCourseEditAddCourseDetails" />
        <activity android:name=".AdminCourseEditAddSubject"></activity>
    </application>

</manifest>